<button class="btn btn-secondary col-md-2 m-1" (click)="onBackToHome()"> Back To Home </button>

<div class="container" *ngIf="productFormGroup">
    <h1 class="text-center m-5">Create New Category</h1>

    <form [formGroup]="productFormGroup">
        <div class="form-group m-2">

            <label>Name</label>
            <input type="text" class="form-control" formControlName="name">
            <!-- <div *ngIf="submitted && productFormGroup.controls.name.errors" class="invalid-feedback">
[ngClass]="{'is-invalid':submitted && productFormGroup.controls.name.errors}"
               <div *ngIf="productFormGroup.controls.name.errors.required">Name is Required</div>
               </div> -->


        </div>

        <button class="btn btn-success col-md-6 offset-md-3" (click)="onAddCategory()">Save</button>

    </form>
</div>